@import "tailwindcss";

#root {
  min-height: 100vh;
  background-color: black;
}

.mid-container {
  background-image: linear-gradient(360deg, black 10%, rgb(79, 78, 78, 0));
}

.video {
  min-width: 100%;
  min-height: 100%;
}

.gradient-left {
  background-image: linear-gradient(90deg, black, rgba(255, 255, 255, 0));
}

.gradient-right {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), black);
}

.logo-bg {
  background-image: url("./assets/iem-logo.svg");
  background-repeat: no-repeat;
}

.banner {
  transition: blur 2s;
}

.banner-wrapper {
  height: 10rem;
  overflow: hidden;
}

.banner-wrapper .wrapper {
  display: flex;
}

.banner-wrapper .wrapper .icons {
  display: flex;
  animation: swipeRight 17000ms linear infinite;
}

@keyframes swipeRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes swipeLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
